In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('datasets/customer.csv')

In [3]:
df.sample(5)

    age  gender   review education purchased
33   89  Female     Good        PG       Yes
48   39  Female     Good        UG       Yes
29   83  Female  Average        UG       Yes
9    74    Male     Good        UG       Yes
34   86    Male  Average    School        No

In [4]:
df = df.iloc[:,2:]

In [5]:
df.head(3)

    review education purchased
0  Average    School        No
1     Poor        UG        No
2     Good        PG        No

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
x_train,x_test,y_train,y_test = train_test_split(df.drop('purchased',axis=1),df['purchased'],test_size=0.23)

In [8]:
x_train

     review education
40     Good    School
5   Average    School
23     Good    School
2      Good        PG
14     Poor        PG
43     Poor        PG
27     Poor        PG
33     Good        PG
35     Poor    School
39     Poor        PG
38     Good    School
0   Average    School
21  Average        PG
3      Good        PG
17     Poor        UG
34  Average    School
26     Poor        PG
18     Good    School
16     Poor        UG
44  Average        UG
25     Good    School
30  Average        UG
15     Poor        UG
13  Average    School
46     Poor        PG
9      Good        UG
41     Good        PG
24  Average        PG
19     Poor        PG
47     Good        PG
32  Average        UG
28     Poor    School
4   Average        UG
37  Average        PG
8   Average        UG
45     Poor        PG
11     Good        UG
22     Poor        PG

In [9]:
from sklearn.preprocessing import OrdinalEncoder

In [10]:
oe = OrdinalEncoder()

x_train_encode = oe.fit_transform(x_train)
x_test_encode = oe.transform(x_test)

In [11]:
x_train_encode

array([[1., 1.],
       [0., 1.],
       [1., 1.],
       [1., 0.],
       [2., 0.],
       [2., 0.],
       [2., 0.],
       [1., 0.],
       [2., 1.],
       [2., 0.],
       [1., 1.],
       [0., 1.],
       [0., 0.],
       [1., 0.],
       [2., 2.],
       [0., 1.],
       [2., 0.],
       [1., 1.],
       [2., 2.],
       [0., 2.],
       [1., 1.],
       [0., 2.],
       [2., 2.],
       [0., 1.],
       [2., 0.],
       [1., 2.],
       [1., 0.],
       [0., 0.],
       [2., 0.],
       [1., 0.],
       [0., 2.],
       [2., 1.],
       [0., 2.],
       [0., 0.],
       [0., 2.],
       [2., 0.],
       [1., 2.],
       [2., 0.]])

In [12]:
oe2 = OrdinalEncoder(categories=[['Poor','Average','Good'],['School','UG','PG']])

x_train_encode2 = oe2.fit_transform(x_train)
x_test_encode2 = oe2.transform(x_test)

In [13]:
x_train_encode2

array([[2., 0.],
       [1., 0.],
       [2., 0.],
       [2., 2.],
       [0., 2.],
       [0., 2.],
       [0., 2.],
       [2., 2.],
       [0., 0.],
       [0., 2.],
       [2., 0.],
       [1., 0.],
       [1., 2.],
       [2., 2.],
       [0., 1.],
       [1., 0.],
       [0., 2.],
       [2., 0.],
       [0., 1.],
       [1., 1.],
       [2., 0.],
       [1., 1.],
       [0., 1.],
       [1., 0.],
       [0., 2.],
       [2., 1.],
       [2., 2.],
       [1., 2.],
       [0., 2.],
       [2., 2.],
       [1., 1.],
       [0., 0.],
       [1., 1.],
       [1., 2.],
       [1., 1.],
       [0., 2.],
       [2., 1.],
       [0., 2.]])

In [14]:
from sklearn.preprocessing import LabelEncoder

In [15]:
label = LabelEncoder()

In [17]:
y_train = label.fit_transform(y_train)
y_test = label.transform(y_test)

In [18]:
y_train

array([0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1])

In [19]:
y_test

array([1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1])